header,
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

main,
aside {
    padding-top: 60px;
    padding-bottom: 60px;
}

.badge {
    background-color: lightblue;
    color: black;
    display: inline-block;
    padding: 4px 8px;
    margin: 0 4px;
    text-align: center;
    border-radius: 5px;;
}